@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');


body{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;

}
video{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}
header{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-100%) ;
    color: rgb(253, 253, 253);
    text-align: center;
}
header h1{
    font-weight: 500;
    font-size: 1.75rem; 
    text-transform: uppercase;
    line-height: 1;

}
header span{
    font-weight:800 ;
    font-size: 3rem;
    display: block;
}
.description{
    position: absolute;
    bottom: 4%;
    width: 93%;
    left: 0;
    right: 0;
    margin: auto;
    background-color: beige;
    color: indigo;
    border-radius: 30px;
    opacity: 0.7;
    padding: 1.5rem;


}
.description p{
    text-align: justify;
    max-width: 100rem;
    margin-inline: auto;
    line-height: 1.2;


}

@media screen and (max-width: 1200px){
    .description{
        position: absolute;
        width: 50vw;
        bottom: 0;
        border-radius: 20px 20px 0 0;
        margin: auto;
        padding: 0.6rem 1.5rem;
    }
    
}
